:root {
  --glitched-duration: 0.9s;
}
@font-face{
    font-family:'blender';
    src:url(font/BlenderPro-Bold.TTF);
}
@import url("https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap");
:root{
   --color-white: #f3f3f3;
  --color-darkblue: #1b1b32;
  --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
  --color-green: #37af65;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
  font-family:'blender',sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-white);
  maring: 0;
}
body::before{
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-darkblue);
  background-image:linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ), url(https://cdn-l-cyberpunk.cdprojektred.com/wallpapers/1080p/CNY_Artwork-en.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
h1{
  font-weight: 400;
  line-height: 1.2;
}
p{
  font-size: 1.125rem;
}
h1, p{
  margin-top: 2.5rem;
  maring-bottom: 0.5rem;
}
label{
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  maring-bottom: 0.5rem;
}
input, button, select, textarea{
  maring: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button{
  border: none;
}
.container{
  width: 100%;
  margin: 3.120rem auto 0 auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
.header{
  padding: 0 0.625rem;
  margin-bottom: 1.875rem;
}
.description{
  font-style: italic;
  font-wight: 200;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}
.text-center{
  text-align: center;
}
form{
   background: var(--color-darkblue-alpha);
  padding: 2.5rem 0.625rem;
  border-radius: 10%;
}

@media (min-width: 480px) {
  form {
    padding: 2.5rem;
  }
}
.form-group{
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}
.form-control{
  display: block;
  width: 100%;
  height: 2.357rem;
  padding: 0.357rem 0.75rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus{
  border-color: #80dbff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.input-radio, .input-checkbox{
  display: inline-block;
  maring-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}
.input-textarea{
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
}
.submit-button{
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: var(--color-green);
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
}

button.cyberpunk2077,
a.cyberpunk2077 {
  --background-color: #ff003c;
  display: block;
  border: none;
  border-radius: 0%;
  font-size: 1.5rem;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Advent Pro", arial;
  padding: 35px 75px;
  margin: 10px;
  position: relative;
  color: #fff;
  border-right: 3px solid #8ae66e;
  clip-path: polygon(
    -15px 0%,
    calc(100% + 15px) 0%,
    calc(100% + 15px) 100%,
    20px 100%,
    -15px calc(100% - 35px)
  );
  cursor: pointer;
  background-color: var(--background-color);
  outline: none;
}

button.cyberpunk2077:hover,
a.cyberpunk2077:hover,
button.cyberpunk2077:focus,
a.cyberpunk2077:focus {
  animation-name: hover;
  animation-duration: var(--glitched-duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

button.cyberpunk2077:after,
a.cyberpunk2077:after {
  content: "R-25";
  display: block;
  position: absolute;
  bottom: 0px;
  right: 25px;
  padding: 2px 2px 0px 2px;
  font-size: 0.6rem;
  line-height: 9px;
  color: #000;
  background-color: #f9f002;
  border-left: 2px solid #8ae66e;
}

button.cyberpunk2077:hover:after,
a.cyberpunk2077:hover:after,
button.cyberpunk2077:focus:after,
a.cyberpunk2077:focus:after {
  animation-name: hoverafter;
  animation-duration: var(--glitched-duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

button.cyberpunk2077:before,
a.cyberpunk2077:before {
  --outside: 4px;
  content: "";
  position: absolute;
  display: none;
  background-color: var(--background-color);
  width: calc(100% + (var(--outside) * 2));
  height: 12px;
  top: 0px;
  left: calc(0px - 1px - var(--outside));
  border-left: 2px solid #8ae66e;
  border-right: 2px solid #8ae66e;
}

button.cyberpunk2077:hover:before,
a.cyberpunk2077:hover:before,
button.cyberpunk2077:focus:before,
a.cyberpunk2077:focus:before {
  display: block;
  animation-name: hoverbefore;
  animation-duration: var(--glitched-duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes hover {
  0% {
    transform: skew(0deg);
  }
  60% {
    transform: skew(0deg);
  }
  61% {
    transform: skew(10deg);
  }
  70% {
    transform: skew(10deg);
  }
  71% {
    transform: skew(0deg);
  }
  100% {
    transform: skew(0deg);
  }
}

@keyframes hoverbefore {
  0% {
    display: none;
    top: 0px;
  }
  10% {
    display: none;
    top: 0px;
  }
  11% {
    display: block;
    top: 10px;
    left: calc(0px - 0px - var(--outside));
  }
  29% {
    top: 10px;
  }
  30% {
    display: none;
    top: 0px;
  }
  50% {
    display: none;
    top: 0px;
  }
  51% {
    display: block;
    top: 55px;
    filter: blur(1px);
    height: 22px;
  }
  90% {
    display: block;
    top: 55px;
    height: 22px;
  }
  91% {
    filter: blur(0px);
    display: none;
    top: 0px;
    height: 12px;
  }
  100% {
    display: none;
    top: 0px;
  }
}

@keyframes hoverafter {
  0% {
    right: 45px;
  }

  10% {
    right: 45px;
  }
  11% {
    right: 35px;
  }
  20% {
    transform: skew(0deg);
  }
  21% {
    transform: skew(-10deg);
  }
  40% {
    transform: skew(-10deg);
  }
  41% {
    transform: skew(0deg);
  }
  49% {
    right: 35px;
  }
  50% {
    right: 55px;
  }

  60% {
    right: 55px;
  }
  61% {
    right: 35px;
  }
  70% {
    transform: skew(0deg);
  }
  71% {
    transform: skew(10deg);
  }
  80% {
    transform: skew(10deg);
  }
  81% {
    transform: skew(0deg);
  }
  100% {
    right: 35px;
  }
}